/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

$hue: 212;
$base-font-size: 13px;
$base-font-family: 'Open Sans' sans-serif;
$base-font: $base-font-size $base-font-family;
$cell-font-size: $base-font-size;
$input-box-font: ($base-font-size / .75) $base-font-family;

$color1: hsl($hue,70%,100%);
$color2: hsl($hue,70%,50%);
$color3: hsl($hue,70%,30%);
$gray-1: hsl($hue,0%,97%);
$gray-2: hsl($hue,0%,50%);
$gray-3: hsl($hue,0%,75%);
$gray-4: hsl($hue,0%,90%);

$page-background-color: $color1;

$nav-bg-color: $page-background-color;
$nav-hover-color: $gray-4;
$nav-border-color: $gray-3;
$nav-border-hover-color: $gray-2;

// 9 12 16 21 28 37 50 67 89


$h1-size: $base-font-size / .75 / .75;
$h2-size: $base-font-size / .75;
$h3-size: $base-font-size;
$nav-font: $base-font-size $base-font-family;


$heading-color: $color2;

$link-color: $color2;
$link-hover-color: $color3;
$active-link-color: $color2;


body {
  font: $base-font;
  background-color: $page-background-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-bottom: 0.5em;
}

h1 {
  font-size: $h1-size;

  &.page-heading {
    display: inline-block;
    width: 170px;
    // float: left;
  }
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}

a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: $link-hover-color;
  }
}

.active-link {
  color: $active-link-color;
  border-color: $color2;
}

.page-wrapper {
  padding: 30px 0 50px 0;
  margin: 0 auto;
  width: 600px;
}

nav {
  margin-bottom: 50px;
  ul {
    text-align: center;
  }
  ul li {
    display: inline-block;
    width: 150px;
    padding: 5px 0;
    background-color: $nav-bg-color;
    border-bottom: 2px solid $nav-border-color;
    font: $nav-font;
  }
  ul a li:hover {
    color: $active-link-color;
    border-color: $color2;
  }
  ul a li {
    color: #333;
  }
}

.content {
  width: 410px;
  margin: 0 auto;
}

#preview-box {
  padding: 5px 20px;
  font-size: $base-font-size;
}

#date-preview {
  display: inline-block;
  // background-color: orange;
  width: 95px;
}

#amount-preview {
  display: inline-block;
  // background-color: pink;
  width: 60px;
  text-align: right;
}

#category-preview {
  display: inline-block;
  padding-left: 15px;
  // background-color: red;
  width: 150px;
}

table {
  border-collapse: collapse;
}

table th {
  font-weight: bold;
  text-align: left;
  &.amount {
    text-align: right;
  }
}

.delete-link {
  display: none;
  padding: 0 5px;
  border-radius: 50%;
  color: #ccc;
  font-weight: bold;
  &:hover {
    background-color: #FFAAA1;
    color: #D82621;
    text-decoration: none;
  }
}

table tr:hover {
  .delete-link {
    display: inline;
  }
}

table tr td, table tr th {
  padding: 3px 10px;
  font-size: $cell-font-size;
  background: transparent;
}

.table-container {
  background-color: $gray-1;
  padding: 15px 15px;
  width: 450px;
}

td.category,
th.category,
td.source,
th.source {
  padding-left: 50px;
}

.row {

  &.date:focus,
  &.amount:focus,
  &.category:focus,
  &.source:focus,
  &.description:focus {
    // border: none;
    background: $page-background-color;  
    // padding: 4px 3px;
    // font-size: $cell-font-size;
  }

  &.date {
    width: 95px;
    // background-color: green;
  }
  &.amount {
    // width: 90px;
    width: 120px;
    text-align: right;
    // background-color: pink;

  } 
  &.category, &.source {
    // width: 100px;
    width: 120px;
  }

  &.description {
    width: auto;
  }

  &.delete {
    // width: 30px;
  }

}


th.description,
td.description {
  display: none;
}

.category-select,
.source-select {
  width: 100px;
  overflow: hidden;
  background: transparent;
  font: $base-font;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

.input-box-container {
  display: inline-block;
  padding: 5px;
  width: 200px;
  margin: 0 auto;
}

#input-box {
  width: 110px;
  padding: 5px 10px;
  font: $input-box-font;
  border: 1px solid $gray-3;
  border-radius: 10px;
  &:focus {
    outline: none;
    box-shadow: inset 0px 0px 5px #eee;
  }
}

/* Overview page */

.overview-catsrc {
  width: 170px;
}












