/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

$hue: 212;
$base-font-size: 15px;
$base-font-family: 'Source Sans Pro' sans-serif;
$base-font: $base-font-size $base-font-family;
$cell-font-size: $base-font-size;
$input-box-font: ($base-font-size / .75) $base-font-family;

$color-1: hsl($hue,70%,100%);
$color-2: hsl($hue,70%,59%);
$color-3: hsl($hue,70%,50%);
$gray-1: hsl($hue,0%,97%);
$gray-2: hsl($hue,0%,90%);
$gray-3: hsl($hue,0%,80%);
$gray-4: hsl($hue,0%,60%);

$profit-color: hsl(100,50%,50%);
$loss-color: hsl(0,60%,60%);

$page-background-color: $color-1;

$nav-bg-color: $page-background-color;
$nav-hover-color: $gray-2;
$nav-border-color: $gray-3;
$nav-border-hover-color: $gray-4;

// 9 12 16 21 28 37 50 67 89


$h1-size: $base-font-size / .75 / .75;
$h2-size: $base-font-size / .75;
$h3-size: $base-font-size;
$nav-font: $base-font-size $base-font-family;


$heading-color: $color-2;

$link-color: $color-2;
$link-hover-color: $color-3;
$active-link-color: $color-2;


body {
  font: $base-font;
  background-color: $page-background-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-bottom: 0.5em;
}

h1 {
  font-size: $h1-size;

  &.page-heading {
    display: inline-block;
    width: 170px;
    vertical-align: top;
    // float: left;
  }
}

h2 {
  font-size: $h2-size;
  font-weight: 400;
}

h3 {
  font-size: $h3-size;
  font-weight: 600;
  // font-style: italic;
  color: $gray-4;
}

a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: $link-hover-color;
  }
}

.active-link {
  color: $active-link-color;
  border-color: $color-2;
}

.page-wrapper {
  padding: 30px 0 50px 0;
  margin: 0 auto;
  width: 1150px;
  // background-color: hsl(210,80%,95%);
}

nav {
  margin-bottom: 50px;
  ul {
    text-align: center;
  }
  ul li {
    display: inline-block;
    width: 150px;
    padding: 5px 0;
    background-color: $nav-bg-color;
    border-bottom: 2px solid $nav-border-color;
    font: $nav-font;
  }
  ul a li:hover {
    color: $active-link-color;
    border-color: $color-2;
  }
  ul a li {
    color: #333;
  }
}

.content {
  margin: 0 auto;
}

.expenses.content,
.income.content {
  width: 420px;
}

.clearfix {
  clear: both;
}

#preview-box {
  padding: 5px 20px;
  font-size: $base-font-size;
}

#date-preview {
  display: inline-block;
  // background-color: orange;
  width: 95px;
}

#amount-preview {
  display: inline-block;
  // background-color: pink;
  width: 60px;
  text-align: right;
}

#category-preview {
  display: inline-block;
  padding-left: 15px;
  // background-color: red;
  width: 150px;
}

table {
  border-collapse: collapse;
}

table th {
  font-weight: 600;
  text-align: left;
  &.amount {
    text-align: right;
  }
}

.delete-link {
  display: none;
  padding: 0 5px;
  border-radius: 50%;
  color: #ccc;
  font-weight: bold;
  &:hover {
    background-color: #FFD4CE;
    color: #D82621;
    text-decoration: none;
  }
}

table tr:hover {
  .delete-link {
    display: inline;
  }
}

table tr td, table tr th {
  padding: 3px 0px;
  font-size: $cell-font-size;
  background: transparent;
}

.table-container {
  width: 420px;
  padding: 15px 25px;
  margin: 0;
  // background-color: $gray-1;
  // background-color: $page-background-color;
  // background-color: hsl(0,0%,98%);
  // border: 1px solid #ddd;
  // border-radius: 5px;
}


td.category,
th.category,
td.source,
th.source {
  padding-left: 50px;
}

.row {

  &.date:focus,
  &.amount:focus,
  &.category:focus,
  &.source:focus,
  &.description:focus {
    // border: none;
    background: $page-background-color;  
    // padding: 4px 3px;
    // font-size: $cell-font-size;
  }

  &.date {
    width: 80px;
    // background-color: green;
  }
  &.amount {
    // width: 90px;
    width: 110px;
    text-align: right;
    // background-color: pink;

  } 
  &.category, &.source {
    // width: 100px;
    width: 120px;
  }

  &.description {
    width: auto;
  }

  &.delete {
    // width: 30px;
  }

}


th.description,
td.description {
  display: none;
}

.category-select,
.source-select {
  width: 100px;
  overflow: hidden;
  background: transparent;
  font: $base-font;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

label[for="input-box"] {
  font-size: $base-font-size * .75;
  color: $gray-4;
  display: block;
}

.input-box-container {
  display: inline-block;
  padding: 5px;
  width: 200px;
  margin: 0 auto;
}

#input-box {
  width: 110px;
  height: 41px;
  padding: 5px 7px;
  font: $input-box-font;
  border: 2px solid $gray-3;
  border-radius: 5px;
  &:hover {
    border-color: $gray-4;
  }
  &:focus {
    outline: none;
    border-color: $color-2;
    // box-shadow: inset 0px 0px 5px #ccc;
  }
}

#input-submit {
  height: 41px;
  padding: 5px 10px;
  vertical-align: top;

  border-radius: 5px;
  border: none;

  font: ($base-font-size * .75) $base-font-family;

  background-color: $color-2;
  color: white;

  &:hover {
    background-color: $color-3;
  }
}

/* Overview page */


.overview.content {
  width: 1100px;
  display: block;
  // background-color: pink;
}


.panel {
  width: 350px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  margin-right: 20px;
  &:nth-child(3n+0) {
    margin-right: 0;
  }
}

.overview.month-heading {
  margin-bottom: 20px;
  font-weight: 600;
}

.profit {
  color: $profit-color;
}

.loss {
  color: $loss-color;
}

.overview.table-container {
  width: auto;
}

table.overview th,
table.overview td {
  padding: 3px 0px;
  font-size: $cell-font-size;
  background: transparent;
}

.overview.catsrc {
  width: 150px;
  // background-color: lightblue;
}

.overview.amount {
  width: 80px;
  text-align: right;
  // background-color: pink;
}

.overview.income.total-cell.amount {
  // color: $profit-color;
}

.overview.expenses.total-cell.amount {
  // color: $loss-color;
}

.overview.percentage {
  width: 110px;
  color: hsla(0,0%,0%,0.3);
  // background-color: green;
  padding-left: 15px;
  text-align: right;
}

.total-cell {
  border-top: 1px solid $gray-4;
  font-weight: 600;
  &.amount {
    text-align: right;
  }
}

.grand-total {
  border-top: 4px double $gray-4;
}












