/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

$hue: 212;
$base-font-size: 14px;
$base-font-family: 'Helvetica Neue' sans-serif;
$base-font: $base-font-size $base-font-family;
$cell-font-size: $base-font-size;
$input-box-font: ($base-font-size / .75) $base-font-family;

$background-image-url: url('../img/espresso.jpg');

$color-1: hsl($hue,70%,100%);
$color-2: hsl($hue,70%,59%);
$color-3: hsl($hue,70%,50%);
$gray-1: hsl($hue,0%,97%);
$gray-2: hsl($hue,0%,90%);
$gray-3: hsl($hue,0%,80%);
$gray-4: hsl($hue,0%,60%);

$blue: hsl($hue,60%,30%);
$white: #fff;
$transparent-gray: hsla(0,0%,0%,0.3);

$profit-color: hsl(100,50%,50%);
$loss-color: hsl(0,60%,60%);

$text-color: #333;
$menu-font-color: $white;

$preview-text-color: $menu-font-color;
$link-color: $color-2;
$link-hover-color: $white;
$active-link-color: $white;
$text-shadow: none;
// $text-shadow: 0px 1px 2px hsla(0,0%,0%,0.3);


$page-background-color: #222;

$nav-text-color: $menu-font-color;
// $nav-text-color: hsla(0,0%,100%,0.5);
$nav-bg-color: $page-background-color;
$nav-hover-color: $gray-2;
$nav-border-color: $white;
$nav-border-current-page-color: $color-2;
$nav-border-hover-color: $white;

$table-container-border-color: #ccc;

// 9 12 16 21 28 37 50 67 89

$h1-size: $base-font-size / .75 / .75;
$h2-size: $base-font-size / .75;
$h3-size: $base-font-size;
$nav-font: $base-font-size $base-font-family;





body {
  font: $base-font;
  // background-color: $page-background-color;
  background: $background-image-url $page-background-color;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: $text-color;
  line-height: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-bottom: 1em;
  text-align: left;
}

h1 {
  font-size: $h1-size;

  &.page-heading {
    display: block;
    // width: 170px;
    vertical-align: top;
    color: $menu-font-color;
    text-shadow: $text-shadow;
    // float: left;
  }
}

h2 {
  font-size: $h2-size;
  font-weight: 400;
}

h3 {
  font-size: $h3-size;
  font-weight: 600;
  // font-style: italic;
  color: $gray-4;
}

a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: $link-hover-color;
  }
}

.active-link {
  color: $active-link-color;
  border-color: $white;
}

.inline-block {
  display: inline-block;
}

label[for="category-select-preview"],
label[for="source-select-preview"], {
  margin-left: 20px;
  color: $menu-font-color;
}

#category-select-preview,
#source-select-preview {
  display: inline-block;
  width: 120px;
  height: 38px;
  vertical-align: baseline;
}


/* ********************************************************************** */


.page-wrapper {
  padding: 30px 0 50px 0;
  margin: 0 auto;
  // width: 1150px;
  // background-color: hsl(210,80%,95%);
}

nav {
  margin-bottom: 50px;
  ul {
    text-align: center;
  }
  ul li {
    display: inline-block;
    width: 150px;
    padding: 5px 0;
    background-color: transparent;
    border-bottom: 2px solid $nav-border-current-page-color;
    font: $nav-font;
  }
  ul a li:hover {
    color: $link-hover-color;
    border-color: $nav-border-hover-color;
  }
  ul a li {
    color: $nav-text-color;
    border-bottom: 2px solid $nav-border-color;
  }
}

.content-container {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.content {
  margin: 0 auto;
}

.expenses.content,
.income.content {
  width: 500px;
}

.clearfix {
  clear: both;
}

#preview-box {
  padding: 5px 20px;
  font-size: $base-font-size / .75;
  color: $preview-text-color;
}

#date-preview {
  display: inline-block;
  // background-color: orange;
  width: 110px;
}

#amount-preview {
  display: inline-block;
  // background-color: pink;
  width: 100px;
  text-align: right;
}

#category-preview,
#source-preview {
  display: inline-block;
  padding-left: 15px;
  // background-color: red;
  width: 180px;
}

table {
  border-collapse: collapse;
}

table th {
  font-weight: 600;
  text-align: left;
  &.amount {
    text-align: right;
  }
}

.delete-link {
  display: none;
  padding: 0 5px;
  border-radius: 50%;
  color: #ccc;
  font-weight: bold;
  &:hover {
    background-color: #FFD4CE;
    color: #D82621;
    text-decoration: none;
  }
}

table tr:hover {
  .delete-link {
    display: inline;
  }
}

table tr td {
  padding: 3px 0;
}

table tr td, table tr th {
  font-size: $cell-font-size;
  background: transparent;
}

table tr th {
  padding: 3px 0 15px 0;
}

.table-container {
  // width: 420px;
  padding: 25px;
  margin: 0;
  // background-color: $gray-1;
  // background-color: $page-background-color;
  background-color: hsl(0,0%,100%);
  // border: 1px solid $table-container-border-color;
  border-radius: 10px;
  opacity: 0.95;
  text-align: left;
}


td.category,
th.category,
td.source,
th.source {
  padding-left: 50px;
}

.row {

  &.date:focus,
  &.amount:focus,
  &.category:focus,
  &.source:focus,
  &.description:focus {
    // border: none;
    background: $page-background-color;  
    // padding: 4px 3px;
    // font-size: $cell-font-size;
  }

  &.date {
    width: 80px;
    // background-color: green;
  }
  &.amount {
    // width: 90px;
    width: 110px;
    text-align: right;
    // background-color: pink;

  } 
  &.category, &.source {
    // width: 100px;
    // width: 250px;
    min-width: 230px;
  }

  &.description {
    width: auto;
  }

  &.delete {
    width: 20px;
    overflow: hidden;
  }

}


th.description,
td.description {
  display: none;
}

.category-select,
.source-select {
  width: 150px;
  overflow: hidden;
  background: transparent;
  font: $base-font;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

label[for="input-box"] {
  display: block;
  font-size: $base-font-size * .75;
  color: $menu-font-color;
  text-align: left;
}

.input-box-container {
  display: inline-block;
  padding: 5px;
  width: 450px;
  margin: 0 auto;
}

#input-box {
  width: 110px;
  height: 41px;
  padding: 5px 7px;
  font: $input-box-font;
  border: 2px solid $gray-3;
  border-radius: 5px;
  &:hover {
    border-color: $gray-4;
  }
  &:focus {
    outline: none;
    border-color: $color-2;
    // box-shadow: inset 0px 0px 5px #ccc;
  }
}

#input-submit {
  height: 41px;
  // padding: 5px 10px;
  vertical-align: top;

  // border-radius: 5px;
  // border: none;

  font: $base-font-size $base-font-family;

  // background-color: $color-2;
  // color: white;

  &:hover {
    // background-color: $color-3;
  }
}

/* Month overview page */


.month-overview.content {
  // width: 1100px;
  width: auto;
  display: inline-block;
  // background-color: pink;
  text-align: left;
}

.panel {
  width: 350px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  // margin-right: 20px;
  &:nth-child(3n+0) {
    margin-right: 0;
  }
}

.month-overview.month-heading {
  margin-bottom: 20px;
  font-weight: 600;
}

.profit {
  color: $profit-color !important;
}

.loss {
  color: $loss-color !important;
}

.month-overview.table-container {
  width: auto;
}

table.month-overview th,
table.month-overview td {
  // padding: 3px 0px;
  font-size: $cell-font-size;
  background: transparent;
}

.month-overview th {
  color: $transparent-gray;
}

.month-overview.catsrc {
  width: 150px;
  // background-color: lightblue;
}

.month-overview.amount {
  width: 80px;
  text-align: right;
  // background-color: pink;
}

.month-overview.income.total-cell.amount {
  // color: $profit-color;
}

.month-overview.expenses.total-cell.amount {
  // color: $loss-color;
}

.month-overview.percentage {
  width: 110px;
  color: $transparent-gray;
  // background-color: green;
  padding-left: 15px;
  text-align: right;
}

.total-cell {
  border-top: 1px solid $gray-4;
  font-weight: 600;
  &.amount {
    text-align: right;
  }
}

.grand-total {
  border-top: 4px double $gray-4;
}

/* Year overview page */

.year-overview.content {
  display: block;
  width: 710px;
  // background-color: pink;
}

.year-overview tr td,
.year-overview tr th {
  padding-bottom: 8px;
  &:last-child {
    padding-right: 0;
  }
}

.year-overview tr th {
  font-size: $h2-size;
  padding-bottom: 1em;
}

.year-overview.month-name {
  width: 120px;
}

.year-overview.income,
.year-overview.expenses,
.year-overview.saved,
.year-overview.expenses-percentage,
.year-overview.saved-percentage {
  text-align: right;
}

.year-overview.income,
.year-overview.saved {
  min-width: 120px;
}

.year-overview.expenses {
  min-width: 150px;
}


.year-overview.expenses-percentage,
.year-overview.saved-percentage {
  color: $gray-3;
}

.year-overview.expenses-percentage {
  min-width: 70px;

}
.year-overview.saved-percentage {
  min-width: 70px;
}





























