/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 14px "Helvetica Neue" sans-serif;
  background: url("../img/espresso.jpg") #222222;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #333333;
  line-height: 1.3em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-bottom: 1em;
  text-align: left; }

h1 {
  font-size: 24.88889px; }
  h1.page-heading {
    display: block;
    vertical-align: top;
    color: white;
    text-shadow: none; }

h2 {
  font-size: 18.66667px;
  font-weight: 400; }

h3 {
  font-size: 14px;
  font-weight: 600;
  color: #999999; }

a {
  color: #4d92e0;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: underline;
    color: white; }

.active-link {
  color: white;
  border-color: white; }

.inline-block {
  display: inline-block; }

label[for="category-select-preview"],
label[for="source-select-preview"] {
  margin-left: 20px;
  color: white; }

#category-select-preview,
#source-select-preview {
  display: inline-block;
  width: 120px;
  height: 38px;
  vertical-align: baseline; }

/* ********************************************************************** */
.page-wrapper {
  padding: 30px 0 50px 0;
  margin: 0 auto; }

nav {
  margin-bottom: 50px; }
  nav ul {
    text-align: center; }
  nav ul li {
    display: inline-block;
    width: 150px;
    padding: 5px 0;
    background-color: transparent;
    border-bottom: 2px solid #4d92e0;
    font: 14px "Helvetica Neue" sans-serif; }
  nav ul a li:hover {
    color: white;
    border-color: white; }
  nav ul a li {
    color: white;
    border-bottom: 2px solid white; }

.content-container {
  width: 1100px;
  margin: 0 auto;
  text-align: center; }

.content {
  margin: 0 auto; }

.expenses.content,
.income.content {
  width: 500px; }

.clearfix {
  clear: both; }

#preview-box {
  padding: 5px 20px;
  font-size: 18.66667px;
  color: white; }

#date-preview {
  display: inline-block;
  width: 110px; }

#amount-preview {
  display: inline-block;
  width: 100px;
  text-align: right; }

#category-preview,
#source-preview {
  display: inline-block;
  padding-left: 15px;
  width: 180px; }

table {
  border-collapse: collapse; }

table th {
  font-weight: 600;
  text-align: left; }
  table th.amount {
    text-align: right; }

.delete-link {
  display: none;
  padding: 0 5px;
  border-radius: 50%;
  color: #ccc;
  font-weight: bold; }
  .delete-link:hover {
    background-color: #FFD4CE;
    color: #D82621;
    text-decoration: none; }

table tr:hover .delete-link {
  display: inline; }

table tr td {
  padding: 3px 0; }

table tr td, table tr th {
  font-size: 14px;
  background: transparent; }

table tr th {
  padding: 3px 0 15px 0; }

.table-container {
  padding: 25px;
  margin: 0;
  background-color: white;
  border-radius: 10px;
  opacity: 0.95;
  text-align: left; }

td.category,
th.category,
td.source,
th.source {
  padding-left: 50px; }

.row.date:focus, .row.amount:focus, .row.category:focus, .row.source:focus, .row.description:focus {
  background: #222222; }
.row.date {
  width: 80px; }
.row.amount {
  width: 110px;
  text-align: right; }
.row.category, .row.source {
  min-width: 230px; }
.row.description {
  width: auto; }
.row.delete {
  width: 20px;
  overflow: hidden; }

th.description,
td.description {
  display: none; }

.category-select,
.source-select {
  width: 150px;
  overflow: hidden;
  background: transparent;
  font: 14px "Helvetica Neue" sans-serif;
  border: none;
  outline: none;
  -webkit-appearance: none; }

label[for="input-box"] {
  display: block;
  font-size: 10.5px;
  color: white;
  text-align: left; }

.input-box-container {
  display: inline-block;
  padding: 5px;
  width: 450px;
  margin: 0 auto; }

#input-box {
  width: 110px;
  height: 41px;
  padding: 5px 7px;
  font: 18.66667px "Helvetica Neue" sans-serif;
  border: 2px solid #cccccc;
  border-radius: 5px; }
  #input-box:hover {
    border-color: #999999; }
  #input-box:focus {
    outline: none;
    border-color: #4d92e0; }

#input-submit {
  height: 41px;
  vertical-align: top;
  font: 14px "Helvetica Neue" sans-serif; }

/* Month overview page */
.month-overview.content {
  width: auto;
  display: inline-block;
  text-align: left; }

.panel {
  width: 350px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px; }
  .panel:nth-child(3n+0) {
    margin-right: 0; }

.month-overview.month-heading {
  margin-bottom: 20px;
  font-weight: 600; }

.profit {
  color: #6abf40 !important; }

.loss {
  color: #d65c5c !important; }

.month-overview.table-container {
  width: auto; }

table.month-overview th,
table.month-overview td {
  font-size: 14px;
  background: transparent; }

.month-overview th {
  color: rgba(0, 0, 0, 0.3); }

.month-overview.catsrc {
  width: 150px; }

.month-overview.amount {
  width: 80px;
  text-align: right; }

.month-overview.percentage {
  width: 110px;
  color: rgba(0, 0, 0, 0.3);
  padding-left: 15px;
  text-align: right; }

.total-cell {
  border-top: 1px solid #999999;
  font-weight: 600; }
  .total-cell.amount {
    text-align: right; }

.grand-total {
  border-top: 4px double #999999; }

/* Year overview page */
.year-overview.content {
  display: block;
  width: 710px; }

.year-overview tr td,
.year-overview tr th {
  padding-bottom: 8px; }
  .year-overview tr td:last-child,
  .year-overview tr th:last-child {
    padding-right: 0; }

.year-overview tr th {
  font-size: 18.66667px;
  padding-bottom: 1em; }

.year-overview.month-name {
  width: 120px; }

.year-overview.income,
.year-overview.expenses,
.year-overview.saved,
.year-overview.expenses-percentage,
.year-overview.saved-percentage {
  text-align: right; }

.year-overview.income,
.year-overview.saved {
  min-width: 120px; }

.year-overview.expenses {
  min-width: 150px; }

.year-overview.expenses-percentage,
.year-overview.saved-percentage {
  color: #cccccc; }

.year-overview.expenses-percentage {
  min-width: 70px; }

.year-overview.saved-percentage {
  min-width: 70px; }
