
.input-panel {
  margin: 30px 0;
  display: inline-block;
}

.input-form-container {
  // margin: 30px 0;
}

#input-box {
  width: 100px;
  display: inline-block;
  margin-right: 10px;
  text-align: right;
}

#category-select-preview {
  margin-right: 10px;
}
