/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 15px "Source Sans Pro" sans-serif;
  background-color: white; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-bottom: 0.5em; }

h1 {
  font-size: 26.66667px; }
  h1.page-heading {
    display: inline-block;
    width: 170px;
    vertical-align: top; }

h2 {
  font-size: 20px;
  font-weight: 400; }

h3 {
  font-size: 15px;
  font-weight: 600;
  color: #999999; }

a {
  color: #4d92e0;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: underline;
    color: #267ad9; }

.active-link {
  color: #4d92e0;
  border-color: #4d92e0; }

.page-wrapper {
  padding: 30px 0 50px 0;
  margin: 0 auto;
  width: 1150px; }

nav {
  margin-bottom: 50px; }
  nav ul {
    text-align: center; }
  nav ul li {
    display: inline-block;
    width: 150px;
    padding: 5px 0;
    background-color: white;
    border-bottom: 2px solid #cccccc;
    font: 15px "Source Sans Pro" sans-serif; }
  nav ul a li:hover {
    color: #4d92e0;
    border-color: #4d92e0; }
  nav ul a li {
    color: #333; }

.content {
  margin: 0 auto; }

.expenses.content,
.income.content {
  width: 420px; }

.clearfix {
  clear: both; }

#preview-box {
  padding: 5px 20px;
  font-size: 15px; }

#date-preview {
  display: inline-block;
  width: 95px; }

#amount-preview {
  display: inline-block;
  width: 60px;
  text-align: right; }

#category-preview {
  display: inline-block;
  padding-left: 15px;
  width: 150px; }

table {
  border-collapse: collapse; }

table th {
  font-weight: 600;
  text-align: left; }
  table th.amount {
    text-align: right; }

.delete-link {
  display: none;
  padding: 0 5px;
  border-radius: 50%;
  color: #ccc;
  font-weight: bold; }
  .delete-link:hover {
    background-color: #FFD4CE;
    color: #D82621;
    text-decoration: none; }

table tr:hover .delete-link {
  display: inline; }

table tr td, table tr th {
  padding: 3px 0px;
  font-size: 15px;
  background: transparent; }

.table-container {
  width: 420px;
  padding: 15px 25px;
  margin: 0; }

td.category,
th.category,
td.source,
th.source {
  padding-left: 50px; }

.row.date:focus, .row.amount:focus, .row.category:focus, .row.source:focus, .row.description:focus {
  background: white; }
.row.date {
  width: 80px; }
.row.amount {
  width: 110px;
  text-align: right; }
.row.category, .row.source {
  width: 120px; }
.row.description {
  width: auto; }

th.description,
td.description {
  display: none; }

.category-select,
.source-select {
  width: 100px;
  overflow: hidden;
  background: transparent;
  font: 15px "Source Sans Pro" sans-serif;
  border: none;
  outline: none;
  -webkit-appearance: none; }

label[for="input-box"] {
  font-size: 11.25px;
  color: #999999;
  display: block; }

.input-box-container {
  display: inline-block;
  padding: 5px;
  width: 200px;
  margin: 0 auto; }

#input-box {
  width: 110px;
  height: 41px;
  padding: 5px 7px;
  font: 20px "Source Sans Pro" sans-serif;
  border: 2px solid #cccccc;
  border-radius: 5px; }
  #input-box:hover {
    border-color: #999999; }
  #input-box:focus {
    outline: none;
    border-color: #4d92e0; }

#input-submit {
  height: 41px;
  padding: 5px 10px;
  vertical-align: top;
  border-radius: 5px;
  border: none;
  font: 11.25px "Source Sans Pro" sans-serif;
  background-color: #4d92e0;
  color: white; }
  #input-submit:hover {
    background-color: #267ad9; }

/* Overview page */
.overview.content {
  width: 1100px;
  display: block; }

.panel {
  width: 350px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  margin-right: 20px; }
  .panel:nth-child(3n+0) {
    margin-right: 0; }

.overview.month-heading {
  margin-bottom: 20px;
  font-weight: 600; }

.profit {
  color: #6abf40; }

.loss {
  color: #d65c5c; }

.overview.table-container {
  width: auto; }

table.overview th,
table.overview td {
  padding: 3px 0px;
  font-size: 15px;
  background: transparent; }

.overview.catsrc {
  width: 150px; }

.overview.amount {
  width: 80px;
  text-align: right; }

.overview.percentage {
  width: 110px;
  color: rgba(0, 0, 0, 0.3);
  padding-left: 15px;
  text-align: right; }

.total-cell {
  border-top: 1px solid #999999;
  font-weight: 600; }
  .total-cell.amount {
    text-align: right; }

.grand-total {
  border-top: 4px double #999999; }
