{% extends "index.html" %}
{% block content %}

<div class="page-wrapper">
    
  <nav class="sidebar">

    <span class="app-logo-expenses">$</span>

    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#">Expenses</a></li>
      <li><a href="{{ url_for('Income') }}">Income</a></li>
      <li><a href="{{ url_for('OverviewMonth') }}">Month overview</a></li>
      <li><a href="{{ url_for('OverviewYear') }}">Year overview</a></li>
    </ul>

  </nav>
    
  <article class="main">

    <h1 class="page-heading">Expenses</h1>
    

      <div class="panel panel-default input-panel">
        <div class="panel-heading">
          <h3 class="panel-title">Add an expense item</h3>
        </div>
        <div class="panel-body">

          <div class="input-form-container">

            <form class="form-inline" id="input-form" method="post" action="">

              <!-- <label for="input-box">Amount:</label><br> -->

              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" id="input-box" name="input" autofocus="true" maxlength="8" placeholder="0.00">
              </div>

              <select id="category-select-preview" class="form-control">
                <option selected disabled>Category</option>
                <option disabled>&mdash;</option>
                {% for category in allCategoryRows %}
                <option value="{{category.id}}">{{category.name}}</option>
                {% endfor %}
              </select>

              <button id="input-submit" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>

            </form>

          </div>

        </div>
      </div>



    
    <div id="preview-box">
      
      <span id="date-preview"></span>
      <span id="amount-preview"></span>
      <span id="category-preview"></span>
    
    </div>
    
    <div class="table-container">
    
      {% include "expenses_table.html" %}
    
    </div>

  </article>

</div> <!-- page-wrapper -->

<script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.hotkeys.js') }}"></script>
<script src="{{ url_for('static', filename='js/income_and_expenses.js') }}"></script>

<script type="text/javascript">

  categoryNames = {};
  sourceNames = {};
  shortcuts = {};

  sourceNames[0] = "";
  {% for row in allSourceRows %}
  sourceNames[{{ row.id }}] = "{{ row.name }}";
  {% endfor %}  

  categoryNames[0] = "";
  {% for row in allCategoryRows %}
  categoryNames[{{ row.id }}] = "{{ row.name }}";
  {% endfor %}

  // get shortcuts from DB and make relationship to category IDs
  {% for row in allShortcuts %}
  shortcuts[{{ row.id }}] = "{{ row.value }}";
  {% endfor %}


  // bind shortcut keys

  {% for row in allShortcuts %}

  $(document).bind('keydown', '{{ row.value }}', function(e){
    category = {{ row.id }};
    console.log("category set to ", category);
    $( '#category-preview ').text(categoryNames[category]);
  });
  $(' #input-box ').bind('keydown', '{{ row.value }}', function(e){
    category = {{ row.id }};
    console.log("category set to ", category);
    $( '#category-preview ').text(categoryNames[category]);
    e.stopPropagation();
    e.preventDefault();
  });

  {% endfor %}

</script>

{% endblock %}