{% extends "expenses.html" %}
{% block content %}

  <div class="page-wrapper">

  <nav>
    <ul>
      <a href="{{ url_for('Expenses') }}"><li>Expenses</li></a><a href="{{ url_for('Income') }}"><li>Income</li></a><li class="active-link">Month overview</li><a href="{{ url_for('OverviewYear') }}"><li>Year overview</li></a>
    </ul>
  </nav>

  <div class="content-container">

    <div class="month-overview content">  

      <h1 class="page-heading">Month overview</h1>

      {% include "overview_month.html" %}

    </div>

  </div>

  </div>

<script src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.hotkeys.js') }}"></script>

{% endblock %}