{% extends "index.html" %}
{% block content %}

<div class="page-wrapper">

  <nav class="sidebar">

    <span class="app-logo">$</span>

    <ul class="nav nav-pills nav-stacked">
      <li><a href="{{ url_for('Expenses') }}">Expenses</a></li>
      <li><a href="{{ url_for('Income') }}">Income</a></li>
      <li><a href="{{ url_for('OverviewMonth') }}">Month overview</a></li>
      <li class="active"><a href="{{ url_for('OverviewYear') }}">Year overview</a></li>
    </ul>

  </nav>

  <article class="main">

    <h1 class="page-heading">Year overview</h1>
    
    <div class="year-overview table-container">
    
      {% include "overview_year_table.html" %}
    
    </div>

  </article>

</div> <!-- page-wrapper -->

<script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.hotkeys.js') }}"></script>

{% endblock %}