      <p>Total expenses: {{ format_money(totalExpenses) }}</p>
      <p>Total income: {{ format_money(totalIncome) }}</p>
      
      <table>
        <tr>
          <th>Category</th>
          <th>Amount</th>
        </tr>
        {% for category in totalCategories %}
        {% if totalCategories[category] != 0 %}
        <tr>
          <td class="overview-catsrc">{{ categoryNames[category] }}</td>
          <td class="overview-amount">{{ format_money(totalCategories[category]) }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </table>

      <br>

      <table>
        <tr>
          <th>Source</th>
          <th>Amount</th>        
        </tr>
        {% for src in totalSources %}
        {% if totalSources[src] != 0 %}
        <tr>
          <td class="overview-catsrc">{{ sourceNames[src] }}</td>
          <td class="overview-amount">{{ format_money(totalSources[src]) }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </table>