      {% for month in months|reverse %}

      {% if month.total_income != 0 or month.total_expenses != 0 %}

      <div class="panel">

      <div class="month-overview table-container">

      <h2 class="month-overview month-heading">{{ month.name }}</h2>

      {% if month.total_income != 0 %}

      <!-- <h3>Income</h3> -->

      <table class="month-overview income">
        <tr>
          <th class="month-overview catsrc">Source</th>
          <th class="month-overview amount">Amount</th>
          <th class="month-overview percentage">% total</th>
        </tr>
        {% for src in month.src_totals %}
        {% if month.src_totals[src] != 0 %}
        <tr>
          <td class="month-overview catsrc">{{ sourceNames[src] }}</td>
          <td class="month-overview amount">{{ format_money(month.src_totals[src]) }}</td>
          <td class="month-overview percentage">{{ '%0.1f' % ((month.src_totals[src] / month.total_income) * 100) }}%</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
          <td class="month-overview income total-cell">Total</td>
          <td class="month-overview income total-cell amount">{{ format_money(month.total_income) }}</td>
        </tr>
      </table>

      <br>

      {% endif %}


      {% if month.total_expenses != 0 %}

      <!-- <h3>Expenses</h3> -->

      <table class="month-overview expenses">
        <tr>
          <th class="month-overview catsrc">Category</th>
          <th class="month-overview amount">Amount</th>
          <th class="month-overview percentage">% income</th>
        </tr>
        {% for cat in month.cat_totals %}
        {% if month.cat_totals[cat] != 0 %}
        <tr>
          <td class="month-overview catsrc">{{ categoryNames[cat] }}</td>
          <td class="month-overview amount">&minus;{{ format_money(month.cat_totals[cat]) }}</td>
          {% if month.total_income != 0 %}
          <td class="month-overview percentage">{{ '%0.1f' % ((month.cat_totals[cat] / month.total_income) * 100) }}%</td>
          {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
          <td class="month-overview expenses total-cell">Total</td>
          <td class="month-overview expenses total-cell amount">&minus;{{ format_money(month.total_expenses) }}</td>
          {% if month.total_income != 0 %}
          <td class="month-overview expenses total-cell percentage">{{ '%0.1f' % ((month.total_expenses / month.total_income) * 100) }}%</td>
          {% endif %}
        </tr>


        {% if month.total_income != 0 and month.total_expenses != 0 %}

        <tr>
          <td class="month-overview catsrc">&nbsp;</td>
          <td class="month-overview amount">&nbsp;</td>
        </tr>

        <tr>
            {% if month.total_income - month.total_expenses >= 0 %}

            <td class="month-overview total-cell grand-total">Saved</td>
            <td class="month-overview total-cell grand-total amount profit">{{ format_money(month.total_income - month.total_expenses) }}</td>
            <td class="month-overview total-cell grand-total percentage profit">{{ '%0.1f' % (((month.total_income - month.total_expenses) / month.total_income) * 100) }}%</td>

            {% else %}

            <td class="month-overview total-cell grand-total">Saved</td>
            <td class="month-overview total-cell grand-total amount loss">{{ format_money(month.total_income - month.total_expenses) }}</td>
            <td class="month-overview total-cell grand-total percentage loss">{{ ('%0.1f' % (((month.total_income - month.total_expenses) / month.total_income) * 100))|replace_hyphen }}%</td>

            {% endif %}
        </tr>

        {% endif %}

      </table>

      <br>

      {% endif %}

      </div>

      </div>

      {% endif %}

      {% endfor %}


